.cta-design {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;

  .cta-design-edit {
    position: absolute;
    right: 0;
    top: -40px;
    color: $color-dark-gray;
    transition: color $transition ease;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      margin-left: 0.5rem;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &.active {
    display: flex;
  }

  .cta-optional {
    opacity: 0.5;
  }

  .cta-trigger-button-container {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;

    .tolltip-basic  {
      max-width: 140px;
      text-align: center;
    }

    .cta-dropdown {
      bottom: 0;
      right: 0;
      left: auto;
      top: auto;
      transform: translateY(0);
      min-width: 200px;
      text-align: left;
      font-size: 0.8125rem;

      >div {
        height: 2rem;
      }
    }

    &.cta-position-br {
      text-align: right;
    }
    &.cta-position-bc {
      text-align: center;
    }
    &.cta-position-bl {
      text-align: left;
    }

    > .cta-btn-close {
      position: absolute;
      top: -1.2rem;
      right: -1.2rem;
      z-index: 1;

      i{
        font-size: 0.6rem;
      }
    }
  }

  .cta-content-button {
    position: relative;
    font-size: 1rem;
    border: none;
    border-radius: $input-radius;
    cursor: pointer;
    height: 2.4rem;
    line-height: calc(2.4rem - 2px);
    padding: 0 1em;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    border: 1px solid $border-color;
    margin-bottom: $margin;
    outline: none;
    border-radius: $input-radius * 2;
    text-decoration: none;
    transition: border $transition ease, color $transition ease, background-color $transition ease;

    &.disabled {
      pointer-events: none;
      user-select: none;
    }

    &.trigger {
      display: inline-flex;
      margin-bottom: 0;
    }

    &.right {
      display: inline-flex;
    }

    &.left {
      display: inline-flex;
    }

    &.cta-label-textonly {

      i{
        display: none;
      }
    }

    &.cta-label-texticonl {

      i {
        margin-left: 0;
      }
      
    }

    &.cta-label-texticonr {
      flex-direction: row-reverse;

      i {
        margin-right: 0;
      }
    }

    i {
      font-size: 1.2rem;
      margin: 0 0.5rem;
    }

    &:hover {
      border-color: $color-primary !important;
    }

    span {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $color-primary-active;
      text-decoration: underline;
      transition: border $transition ease, color $transition ease, background-color $transition ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cta-btn-close {
    width: 1.75rem;
    height: 1.75rem;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color: $color-dark-gray;
    border-radius: 50%;
    cursor: pointer;
    transition: color $transition ease;
  
    i{
      display: block !important;
    }
  
    &:hover{
      color: $color-dark;
    }
  }

  .cta-content-container {
    position: absolute;
    min-width: 260px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &.cta-position-bc {
      top: auto !important;
      right: auto !important;
      left: 50% !important;
      transform: translateX(-50%) translateY(0) !important;
      bottom: 0;
    }

    &.cta-position-br {
      top: auto !important;
      left: auto !important;
      right: calc(10% + 11px);
      transform: translateX(0) translateY(0) !important;
      bottom: 0;
    }

    &.cta-position-bl {
      top: auto !important;
      right: auto !important;
      left: calc(10% + 11px);
      transform: translateX(0) translateY(0) !important;
      bottom: 0;
    }

    &.mobile {
      transform: translateY(-30px) !important;

      &.cta-position-bc {
        transform: translateX(-50%) translateY(-30px) !important;
      }
  
      &.cta-position-br {
        right: 2rem !important;
      }
  
      &.cta-position-bl {
        left: 2rem !important;
      }

      .cta-content {
        width: 100% !important;
      }
    }

    &.mobile {
      width: 100%;
      .cta-content {
        width: 100% !important;
        right: -2rem;
      }
    }
  }

  .cta-content {
    max-width: calc(100vw - 4rem);
    background-color: $color-white;
    border-radius: $input-radius * 2;
    padding: $spacer;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: opacity $transition ease;

    &.active{
      opacity: 1;
      pointer-events: all;
    }

    .cta-content-close {
      position: absolute;
      color: $color-light-gray;
      transition: color $transition ease;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      cursor: pointer;

      &.cta-close-tl {
        left: 1rem;
        top: 1rem;
      }

      &.cta-close-tr {
        right: 1rem;
        top: 1rem;
      }

      i {
        margin-left: 0.5rem;
      }

      &:hover {
        color: $color-dark;
      }
    }

    .cta-blocks {
      &.left,
      &.right {
        &.full-width {
          width: calc(100% + #{$spacer * 2});
          margin-left: -$spacer;

          .full-width {
            width: 50%;
            margin-left: 0;
          }
        }
      }

      &.left {
        display: flex;
        .cta-block {
          width: 50%;
          &:last-child {
            padding-left: 1rem;
            padding-right: 0;
          }
        }
      }
      &.right {
        display: flex;
        flex-direction: row-reverse;

        .cta-block {
          width: 50%;
          &:last-child {
            padding-left: 0;
            padding-right: 1rem;
          }
        }
      }
    }

    .cta-block {
      border: 2px dashed $border-color;
      border-radius: $input-radius * 2;
      cursor: pointer;
      transition: border $transition ease, background-color $transition ease;
      margin-bottom: $spacer/2;

      &:hover {
        background-color: rgba($color-primary, 0.05);
        border-color: $color-primary;
      }

      &.filed {
        border-color: transparent;

        &:hover {
          background-color: rgba($color-primary, 0.05);
          border-color: $color-primary;
        }
      }

      img {
        max-width: 100%;
        display: block;
      }

      &.full-width {
        width: calc(100% + #{$spacer * 2});
        margin-left: -$spacer;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-dark-gray !important;
        width: 100%;
        height: 100%;
        min-width: 200px;
        font-size: 1rem !important;
        font-weight: 400 !important;
        font-style: normal !important;
        font-family: $font-family !important;
      }
    }

    .cta-content-logo {
      &.left {
        text-align: left;
      }
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }

      > div {
        min-height: 50px;
      }
    }
    .cta-content-image {
      > div {
        min-height: 100px;
      }
    }
    .cta-content-text {
      > div {
        min-height: 100px;
      }
    }

    .cta-content-legal {
      cursor: pointer;
      color: $color-dark-gray;
      border: 2px dashed transparent;
      border-radius: $input-radius * 2;
      transition: border $transition ease, background-color $transition ease;

      &.filed {
        border-color: transparent;

        &:hover {
          background-color: rgba($color-primary, 0.05);
          border-color: $color-primary;
        }
      }

      .cta-content-unsubscribe {
        margin-bottom: $margin;
      }

      .cta-legal-toggler {
        color: $color-primary-active;
        text-decoration: underline;
        cursor: pointer;
        font-family: $font-family !important;
        font-size: 1rem !important;

        &:hover {
          text-decoration: none;
        }
      }

      .cta-content-legal-links {
        span,
        a {
          text-decoration: none;
          cursor: pointer;
          margin-right: 1rem;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.preview{
    .cta-content {

      &.without-logo{
        padding-top: 0;

        .cta-content-image.boxed{
          margin-top: $spacer;
        }
      }
      .cta-block {
        border: none;
        border-radius: 0;
        cursor:auto;
        display: none;

        &.filed {
          display: block;
        }

        &:hover{
          background-color: transparent;
        }
      }

      .cta-content-legal {
        border: none;
        cursor:auto;

        .cta-legal-toggler {
          text-decoration: none !important;
          color: $color-danger;
        }

        &.filed {
          display: block;
          border-color: transparent;
  
          &:hover {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
    .cta-content-button {
      span {
        color: $color-danger;
        text-decoration: none;
      }
      &:hover{
        border-color: transparent !important;
      }
    }
  }

  @media screen and (max-width: $md) {
    overflow: auto;
    align-items: flex-start;

    .cta-content-container {
      margin: 5rem 0;
      position: static;
      transform: translateX(0) translateY(0);
    }

    &.preview {
      overflow: visible;
      align-items: center;

      .cta-content-container {
        margin: 0;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  &.production {
    .cta-screen-imitation {
      opacity: 0;
      transform: translateY(100px);

      &.active {
        transition: all $transition ease;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @media screen and (max-width: $mobile) {
    padding: 0 1rem;

    &.production {
      .cta-content-container {

        .cta-content {
          left: 1rem;

          .cta-content-button.main {
            display: flex !important;
          }
        }
      }
    }
  }
}

.for-render {
  //box-shadow: none !important;
  transform: scale(1) !important;

  *{
    //box-shadow: none !important;
    transform: scale(1) !important;
  }
}

.cta-viewer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.d-none {
  display: none !important;
}
