.cta-screen-toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  i {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: $color-dark;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity $transition ease;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  @media screen and (max-width: $mobile) {
    height: $nav-height-mobile;
  }
}

.cta-screen-imitation-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .cta-screen-not-real {
    display: none;
  }
  &.desktop {
    width: 80%;
    top: 0;
    height: calc(100% - #{$nav-height} - 10vh);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $nav-height;
    z-index: 0;
    border-radius: 12px;

    .cta-screen-not-real {
      position: absolute;
      display: block;
      bottom: -6vh;
      left: 5vw;
      color: $color-lagray;
    }

    &::after {
      content: "";
      top: 50%;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border: 1px solid $color-agray;
      border-radius: 16px;
    }

    &::before {
      content: "";
      bottom: -10vh;
      width: 200px;
      height: calc(10vh - 11px);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-left: 1px solid $color-agray;
      border-right: 1px solid $color-agray;
    }

    @media screen and (max-width: $md) {
      width: calc(100% - 2rem);
    }

    @media screen and (max-width: $mobile) {
      top: $nav-height-mobile;
      height: calc(100% - #{$nav-height-mobile} - 10vh);
    }
  }

  &.phone {
    width: 375px;
    top: 0;
    height: calc(100% - #{$nav-height} - 10vh);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $nav-height;
    z-index: 0;
    border-radius: 60px;

    .cta-screen-not-real {
      display: block;
      white-space: nowrap;
      position: absolute;
      bottom: -6vh;
      left: 50%;
      transform: translateX(-50%);
      color: $color-lagray;
    }

    &::after {
      content: "";
      top: 50%;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border: 1px solid $color-agray;
      border-radius: 70px;
    }

    &::before {
      content: "";
      bottom: 30px;
      width: 75px;
      border-radius: 10px;
      background-color: $color-agray;
      height: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: $md) {
      width: calc(100% - 2rem);
    }

    @media screen and (max-width: $mobile) {
      top: $nav-height-mobile;
      height: calc(100% - #{$nav-height-mobile} - 10vh);
    }
  }
}

.cta-screen-imitation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.desktop {
    width: 80%;
    top: 0;
    height: calc(100% - #{$nav-height} - 10vh);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $nav-height;
    z-index: 0;
    border: 1px solid $color-agray;
    border-radius: 12px;
    overflow: hidden;

    @media screen and (max-width: $md) {
      width: calc(100% - 2rem);
    }

    @media screen and (max-width: $mobile) {
      top: $nav-height-mobile;
      height: calc(100% - #{$nav-height-mobile} - 10vh);
    }
  }

  &.phone {
    width: 375px;
    top: 0;
    height: calc(100% - #{$nav-height} - 10vh);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $nav-height;
    z-index: 0;
    border: 1px solid $color-agray;
    border-radius: 60px;
    overflow: hidden;

    .cta-screen-not-real {
      display: block;
      white-space: nowrap;
      position: absolute;
      bottom: -6vh;
      left: 50%;
      transform: translateX(-50%);
      color: $color-lagray;
    }

    @media screen and (max-width: $md) {
      width: calc(100% - 2rem);
    }

    @media screen and (max-width: $mobile) {
      top: $nav-height-mobile;
      height: calc(100% - #{$nav-height-mobile} - 10vh);
    }
  }
}

.cta-design {
  &.preview{
    .cta-trigger-button-container {
      display: inline-block;
      width: auto;
      bottom: 0;

      &.cta-position-br {
        left: auto;
        right: 0;
      }
      &.cta-position-bc {
        left: 50%;
        transform: translateX(-50%);
      }
      &.cta-position-bl {
        left: 0;
      }
    }
  }
}
