.cta-sidebar{
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-light;
  width: $sidebar-width;
  height: 100%;
  padding: $spacer;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  transform: translateX(-100%);
  z-index: 12;
  transition: all $transition ease;

  &.active{
    transform: translateX(0);
    .cta-sidebar-toggler {
      display: none;
    }
  }

  .m-hided {
    transform: translateX(0);
  }

  .cta-sidebar-toggler {
    align-items: center;
    position: absolute;
    right: -$spacer*1.5;
    top: $spacer;
    font-size: 1.2rem;
    height: 2rem;
    cursor: pointer;
    color: $color-light-gray;
    display: none;
    transition: color $transition ease;

    &:hover{
      color: $color-dark;
    }
  }

  .cta-sidebar-close {
    align-items: center;
    position: absolute;
    right: $spacer;
    top: $spacer;
    font-size: 0.7rem;
    height: 2rem;
    cursor: pointer;
    color: $color-light-gray;
    transition: color $transition ease;
    display: none;

    &:hover{
      color: $color-dark;
    }
  }

  @media screen and (max-width: $lg) {
    background-color: $color-white;
    .cta-sidebar-close {
      display: flex;
    }
    &.active.m-hided {
      transform: translateX(-100%);

      .cta-sidebar-toggler {
        display: block;
      }
    }
  }

  @media screen and (max-width: $md) {
    width: $sidebar-width-mobile;
  }

  @media screen and (max-width: $mobile) {
    .cta-sidebar-toggler {
      right: -2.4rem;
    }
    width: 100%;
  }
}