[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e924";
}
.icon-info-outline:before {
  content: "\e923";
}
.icon-help-circle:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e909";
}
.icon-log-out:before {
  content: "\e922";
}
.icon-boxed:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-new-project:before {
  content: "\e90c";
}
.icon-mobile:before {
  content: "\e90d";
}
.icon-desktop:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\e90f";
}
.icon-align-center-horizontal:before {
  content: "\e910";
}
.icon-align-left:before {
  content: "\e911";
}
.icon-align-right:before {
  content: "\e912";
}
.icon-full-width:before {
  content: "\e913";
}
.icon-text-icon-right:before {
  content: "\e914";
}
.icon-text-icon-left:before {
  content: "\e915";
}
.icon-text-only:before {
  content: "\e916";
}
.icon-allow:before {
  content: "\e917";
}
.icon-message:before {
  content: "\e918";
}
.icon-italic:before {
  content: "\e919";
}
.icon-bold:before {
  content: "\e91a";
}
.icon-text-center:before {
  content: "\e91b";
}
.icon-text-left:before {
  content: "\e91c";
}
.icon-text-right:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-minus:before {
  content: "\e91f";
}
.icon-card-style:before {
  content: "\e920";
}
.icon-new-window:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e900";
}
.icon-desktop-solid:before {
  content: "\e908";
}
.icon-sidebar-bold:before {
  content: "\e907";
}
.icon-sidebar:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e905";
  color: #001b48;
}
.icon-settings:before {
  content: "\e925";
}
.icon-copy:before {
  content: "\e926";
}
