body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hided {
  display: none;
}

.op05 {
  opacity: 0.5;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.mb-d {
  margin-bottom: $margin !important;
}
.pt-d {
  padding-top: $spacer !important;
}
.d-flex {
  display: flex;

  &.align-center {
    align-items: center;
  }
}

.bb-0 {
  border-bottom: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.w-25 {
  width: 25% !important;
}

.ml-input {
  margin-left: -10px;
}

.text-basic {
  color: $color-dark-gray;
  margin: 0;
  line-height: 140%;
}
.text-center {
  text-align: center;;
}

.d-none {
  display: none !important;
}

.show-mobile {
  display: none !important;
}

@media screen and (max-width:560px) {
  .show-mobile {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
}

.d-stretch {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.pointer-none {
  pointer-events: none !important;
  user-select: none;

  *{
    pointer-events: none !important;
    user-select: none;
  }
}