.cta-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  .cta-modal-close {
    align-items: center;
    position: absolute;
    right: $spacer;
    top: $spacer;
    font-size: 0.7rem;
    height: 1.4rem;
    cursor: pointer;
    color: $color-light-gray;
    transition: color $transition ease;

    &:hover{
      color: $color-dark;
    }
  }

  &.active {
    pointer-events: all;
    z-index: 15;

    .cta-modal-overlay {
      opacity: 1;
    }
    .cta-modal-content {
      transition-delay: $transition;
      opacity: 1;
      transform: translateX(0);
    }
    &.cta-modal-cm {
      .cta-modal-content {
        transition: all $transition*2 ease;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
    }
    &.cta-modal-tab {
      .cta-modal-content {
        border-radius: $input-radius*2;
        transition: all $transition*2 ease;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
    }
  }

  .cta-modal-overlay {
    width: 100%;
    height: 100%;
    background-color: $color-gray;
    opacity: 0;
    transition: opacity $transition ease;
  }

  .cta-modal-content {
    position: absolute;
    width: 300px;
    transform: translateX(-500px);
    opacity: 0;
    overflow: hidden;
    bottom: $spacer;
    left: $spacer;
    background-color: $color-white;
    border-radius: 4px;
    padding: 2em;
    box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
    transition: all $transition ease;
  }

  &.cta-modal-cm {
    .cta-modal-overlay {
      background-color: $color-overlay;
    }
    
    .cta-modal-content {
      position: absolute;
      width: 800px;
      transform: translateY(-10%) translateX(-50%);
      top: 50%;
      left: 50%;
      opacity: 0;
      bottom: auto;
      padding: 0;
      border-radius: 0;
      transition: 0s;
    }

    ::-webkit-scrollbar-track {
      background: $color-light;
    }
  }

  &.cta-modal-tab {
    .cta-modal-content {
      position: absolute;
      width: 800px;
      height: 80vh;
      transform: translateY(-10%) translateX(-50%);
      top: 50%;
      left: 50%;
      opacity: 0;
      bottom: auto;
      padding: 0;
      border-radius: 0;
      transition: 0s;
    }
  }

  @media screen and (max-width: 991px) {

    .cta-modal-content {
      max-width: calc(100% - #{$spacer});
      left: $spacer/2;
      bottom: $spacer/2;
    }

    &.cta-modal-cm {
      .cta-modal-content {
        width: calc(100% - #{$mobile-padding});
        height: calc(100% - #{$mobile-padding});
        overflow-y: auto;
      }
    }
  }
}
