.cta-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;

  &.active {
    pointer-events: all;
    .cta-modal-overlay {
      opacity: 1;
    }
    .cta-modal-content {
      transition-delay: $transition;
      transform: translateX(0);
    }
    &.cta-modal-cm {
      .cta-modal-content {
        transition: all $transition*2 ease;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
    }
  }

  .cta-modal-overlay {
    width: 100%;
    height: 100%;
    background-color: $color-gray;
    opacity: 0;
    transition: opacity $transition ease;
  }

  .cta-modal-content {
    position: absolute;
    width: 300px;
    transform: translateX(-500px);
    opacity: 0;
    bottom: $spacer;
    left: $spacer * 2;
    background-color: $color-white;
    border-radius: 4px;
    padding: 2em;
    box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
    transition: all $transition ease;

    h3 {
      margin-bottom: 0.5em;
    }

    p {
      margin-top: 0;
      margin-bottom: 2em;
    }

    a {
      display: block;
      margin-bottom: 0.5em;
      text-align: center;
      position: relative;

      &:first-child {
        i {
          font-size: 1.2rem;
        }
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        left: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.cta-modal-cm {
    .cta-modal-overlay {
      background-color: $color-overlay;
    }
    
    .cta-modal-content {
      position: absolute;
      width: 800px;
      transform: translateY(-10%) translateX(-50%);
      top: 50%;
      left: 50%;
      opacity: 0;
      bottom: auto;
      padding: 0;
      border-radius: 0;
      transition: 0s;
    }

    ::-webkit-scrollbar-track {
      background: $color-light;
    }
  }

  @media screen and (max-width: 991px) {

    &.cta-modal-cm {
      .cta-modal-content {
        width: calc(100% - #{$mobile-padding});
        height: calc(100% - #{$mobile-padding});
        overflow-y: auto;
      }
    }
  }
}
