@font-face {
  font-family: 'pack';
  src:  url('../assets/fonts/pack.eot?fa3kex');
  src:  url('../assets/fonts/pack.eot?fa3kex#iefix') format('embedded-opentype'),
    url('../assets/fonts/pack.ttf?fa3kex') format('truetype'),
    url('../assets/fonts/pack.woff?fa3kex') format('woff'),
    url('../assets/fonts/pack.svg?fa3kex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pack-"], [class*=" pack-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pack-type:before {
  content: "\e900";
}
.pack-umbrella:before {
  content: "\e901";
}
.pack-underline:before {
  content: "\e902";
}
.pack-unlock:before {
  content: "\e903";
}
.pack-upload:before {
  content: "\e904";
}
.pack-upload-cloud:before {
  content: "\e905";
}
.pack-user:before {
  content: "\e906";
}
.pack-user-check:before {
  content: "\e907";
}
.pack-user-minus:before {
  content: "\e908";
}
.pack-user-plus:before {
  content: "\e909";
}
.pack-users:before {
  content: "\e90a";
}
.pack-user-x:before {
  content: "\e90b";
}
.pack-video:before {
  content: "\e90c";
}
.pack-video-off:before {
  content: "\e90d";
}
.pack-voicemail:before {
  content: "\e90e";
}
.pack-volume:before {
  content: "\e90f";
}
.pack-volume-1:before {
  content: "\e910";
}
.pack-volume-2:before {
  content: "\e911";
}
.pack-volume-x:before {
  content: "\e912";
}
.pack-watch:before {
  content: "\e913";
}
.pack-wifi:before {
  content: "\e914";
}
.pack-wifi-off:before {
  content: "\e915";
}
.pack-wind:before {
  content: "\e916";
}
.pack-x:before {
  content: "\e917";
}
.pack-x-circle:before {
  content: "\e918";
}
.pack-x-square:before {
  content: "\e919";
}
.pack-youtube:before {
  content: "\e91a";
}
.pack-zap:before {
  content: "\e91b";
}
.pack-zap-off:before {
  content: "\e91c";
}
.pack-zoom-in:before {
  content: "\e91d";
}
.pack-zoom-out:before {
  content: "\e91e";
}
.pack-activity:before {
  content: "\e91f";
}
.pack-airplay:before {
  content: "\e920";
}
.pack-alert-circle:before {
  content: "\e921";
}
.pack-alert-octagon:before {
  content: "\e922";
}
.pack-alert-triangle:before {
  content: "\e923";
}
.pack-align-center:before {
  content: "\e924";
}
.pack-align-justify:before {
  content: "\e925";
}
.pack-align-left:before {
  content: "\e926";
}
.pack-align-right:before {
  content: "\e927";
}
.pack-anchor:before {
  content: "\e928";
}
.pack-announcement-speaker:before {
  content: "\e929";
}
.pack-aperture:before {
  content: "\e92a";
}
.pack-archive:before {
  content: "\e92b";
}
.pack-arrow-down:before {
  content: "\e92c";
}
.pack-arrow-down-circle:before {
  content: "\e92d";
}
.pack-arrow-down-left:before {
  content: "\e92e";
}
.pack-arrow-down-right:before {
  content: "\e92f";
}
.pack-arrow-left:before {
  content: "\e930";
}
.pack-arrow-left-circle:before {
  content: "\e931";
}
.pack-arrow-right:before {
  content: "\e932";
}
.pack-arrow-right-circle:before {
  content: "\e933";
}
.pack-arrow-up:before {
  content: "\e934";
}
.pack-arrow-up-circle:before {
  content: "\e935";
}
.pack-arrow-up-left:before {
  content: "\e936";
}
.pack-arrow-up-right:before {
  content: "\e937";
}
.pack-at-sign:before {
  content: "\e938";
}
.pack-award:before {
  content: "\e939";
}
.pack-bar-chart:before {
  content: "\e93a";
}
.pack-bar-chart-2:before {
  content: "\e93b";
}
.pack-battery:before {
  content: "\e93c";
}
.pack-battery-charging:before {
  content: "\e93d";
}
.pack-bell:before {
  content: "\e93e";
}
.pack-bell-off:before {
  content: "\e93f";
}
.pack-bluetooth:before {
  content: "\e940";
}
.pack-bold:before {
  content: "\e941";
}
.pack-book:before {
  content: "\e942";
}
.pack-bookmark:before {
  content: "\e943";
}
.pack-book-open:before {
  content: "\e944";
}
.pack-box:before {
  content: "\e945";
}
.pack-briefcase:before {
  content: "\e946";
}
.pack-calendar:before {
  content: "\e947";
}
.pack-camera:before {
  content: "\e948";
}
.pack-camera-off:before {
  content: "\e949";
}
.pack-carret---down:before {
  content: "\e94a";
}
.pack-carret---left:before {
  content: "\e94b";
}
.pack-carret---right:before {
  content: "\e94c";
}
.pack-carret---up:before {
  content: "\e94d";
}
.pack-cast:before {
  content: "\e94e";
}
.pack-check:before {
  content: "\e94f";
}
.pack-check-circle:before {
  content: "\e950";
}
.pack-check-square:before {
  content: "\e951";
}
.pack-chevron-down:before {
  content: "\e952";
}
.pack-chevron-left:before {
  content: "\e953";
}
.pack-chevron-right:before {
  content: "\e954";
}
.pack-chevrons-down:before {
  content: "\e955";
}
.pack-chevrons-left:before {
  content: "\e956";
}
.pack-chevrons-right:before {
  content: "\e957";
}
.pack-chevrons-up:before {
  content: "\e958";
}
.pack-chevron-up:before {
  content: "\e959";
}
.pack-chrome:before {
  content: "\e95a";
}
.pack-circle-check-full .path1:before {
  content: "\e95b";
  color: rgb(0, 0, 0);
}
.pack-circle-check-full .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pack-circle-radio-selected-solid .path1:before {
  content: "\e95d";
  color: rgb(0, 0, 0);
}
.pack-circle-radio-selected-solid .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pack-circle:before {
  content: "\e95f";
}
.pack-clipboard:before {
  content: "\e960";
}
.pack-clock:before {
  content: "\e961";
}
.pack-cloud-drizzle:before {
  content: "\e963";
}
.pack-cloud-lightning:before {
  content: "\e964";
}
.pack-cloud-off:before {
  content: "\e965";
}
.pack-cloud-rain:before {
  content: "\e966";
}
.pack-cloud-snow:before {
  content: "\e967";
}
.pack-code:before {
  content: "\e968";
}
.pack-codepen:before {
  content: "\e969";
}
.pack-command:before {
  content: "\e96a";
}
.pack-compass:before {
  content: "\e96b";
}
.pack-copy:before {
  content: "\e96c";
}
.pack-corner-down-left:before {
  content: "\e96d";
}
.pack-corner-down-right:before {
  content: "\e96e";
}
.pack-corner-left-down:before {
  content: "\e96f";
}
.pack-corner-left-up:before {
  content: "\e970";
}
.pack-corner-right-down:before {
  content: "\e971";
}
.pack-corner-right-up:before {
  content: "\e972";
}
.pack-corner-up-left:before {
  content: "\e973";
}
.pack-corner-up-right:before {
  content: "\e974";
}
.pack-cpu:before {
  content: "\e975";
}
.pack-credit-card:before {
  content: "\e976";
}
.pack-crop:before {
  content: "\e977";
}
.pack-crosshair:before {
  content: "\e978";
}
.pack-database:before {
  content: "\e979";
}
.pack-delete:before {
  content: "\e97a";
}
.pack-disc:before {
  content: "\e97b";
}
.pack-dollar-sign:before {
  content: "\e97c";
}
.pack-download:before {
  content: "\e97d";
}
.pack-download-cloud:before {
  content: "\e97e";
}
.pack-droplet:before {
  content: "\e97f";
}
.pack-edit:before {
  content: "\e980";
}
.pack-edit-2:before {
  content: "\e981";
}
.pack-edit-3:before {
  content: "\e982";
}
.pack-external-link:before {
  content: "\e983";
}
.pack-eye:before {
  content: "\e984";
}
.pack-eye-off:before {
  content: "\e985";
}
.pack-facebook:before {
  content: "\e986";
}
.pack-fast-forward:before {
  content: "\e987";
}
.pack-feather:before {
  content: "\e988";
}
.pack-file:before {
  content: "\e989";
}
.pack-file-minus:before {
  content: "\e98a";
}
.pack-file-plus:before {
  content: "\e98b";
}
.pack-file-text:before {
  content: "\e98c";
}
.pack-film:before {
  content: "\e98d";
}
.pack-filter:before {
  content: "\e98e";
}
.pack-flag:before {
  content: "\e98f";
}
.pack-folder:before {
  content: "\e990";
}
.pack-folder-minus:before {
  content: "\e991";
}
.pack-folder-plus:before {
  content: "\e992";
}
.pack-gift:before {
  content: "\e993";
}
.pack-git-branch:before {
  content: "\e994";
}
.pack-git-commit:before {
  content: "\e995";
}
.pack-github:before {
  content: "\e996";
}
.pack-gitlab:before {
  content: "\e997";
}
.pack-git-merge:before {
  content: "\e998";
}
.pack-git-pull-request:before {
  content: "\e999";
}
.pack-globe:before {
  content: "\e99a";
}
.pack-grid:before {
  content: "\e99b";
}
.pack-hard-drive:before {
  content: "\e99c";
}
.pack-hash:before {
  content: "\e99d";
}
.pack-headphones:before {
  content: "\e99e";
}
.pack-heart:before {
  content: "\e99f";
}
.pack-help-circle:before {
  content: "\e9a0";
}
.pack-home:before {
  content: "\e9a1";
}
.pack-image:before {
  content: "\e9a2";
}
.pack-inbox:before {
  content: "\e9a3";
}
.pack-info:before {
  content: "\e9a4";
}
.pack-instagram:before {
  content: "\e9a5";
}
.pack-intercom-icon:before {
  content: "\e9a6";
}
.pack-italic:before {
  content: "\e9a7";
}
.pack-layers:before {
  content: "\e9a8";
}
.pack-layout:before {
  content: "\e9a9";
}
.pack-life-buoy-help:before {
  content: "\e9aa";
}
.pack-link:before {
  content: "\e9ab";
}
.pack-link-2:before {
  content: "\e9ac";
}
.pack-linkedin:before {
  content: "\e9ad";
}
.pack-list:before {
  content: "\e9ae";
}
.pack-live-support-agent-headset:before {
  content: "\e9af";
}
.pack-loader:before {
  content: "\e9b0";
}
.pack-lock:before {
  content: "\e9b1";
}
.pack-log-in:before {
  content: "\e9b2";
}
.pack-log-out:before {
  content: "\e9b3";
}
.pack-mail:before {
  content: "\e9b4";
}
.pack-map:before {
  content: "\e9b5";
}
.pack-map-pin:before {
  content: "\e9b6";
}
.pack-maximize:before {
  content: "\e9b7";
}
.pack-maximize-2:before {
  content: "\e9b8";
}
.pack-menu:before {
  content: "\e9b9";
}
.pack-message-circle:before {
  content: "\e9ba";
}
.pack-message-square:before {
  content: "\e9bb";
}
.pack-mic:before {
  content: "\e9bc";
}
.pack-mic-off:before {
  content: "\e9bd";
}
.pack-minimize:before {
  content: "\e9be";
}
.pack-minimize-2:before {
  content: "\e9bf";
}
.pack-minus:before {
  content: "\e9c0";
}
.pack-minus-circle:before {
  content: "\e9c1";
}
.pack-minus-square:before {
  content: "\e9c2";
}
.pack-monitor:before {
  content: "\e9c3";
}
.pack-moon:before {
  content: "\e9c4";
}
.pack-more-horizontal:before {
  content: "\e9c5";
}
.pack-more-vertical:before {
  content: "\e9c6";
}
.pack-move:before {
  content: "\e9c7";
}
.pack-music:before {
  content: "\e9c8";
}
.pack-navigation:before {
  content: "\e9c9";
}
.pack-navigation-2:before {
  content: "\e9ca";
}
.pack-octagon:before {
  content: "\e9cb";
}
.pack-package:before {
  content: "\e9cc";
}
.pack-paperclip:before {
  content: "\e9cd";
}
.pack-pause:before {
  content: "\e9ce";
}
.pack-pause-circle:before {
  content: "\e9cf";
}
.pack-percent:before {
  content: "\e9d0";
}
.pack-phone-chat-message-sms:before {
  content: "\e9d1";
}
.pack-phone-call:before {
  content: "\e9d3";
}
.pack-phone-forwarded:before {
  content: "\e9d4";
}
.pack-phone-incoming-2:before {
  content: "\e9d5";
}
.pack-phone-missed:before {
  content: "\e9d6";
}
.pack-phone-off:before {
  content: "\e9d7";
}
.pack-phone-outgoing:before {
  content: "\e9d8";
}
.pack-pie-chart:before {
  content: "\e9d9";
}
.pack-play:before {
  content: "\e9da";
}
.pack-play-circle:before {
  content: "\e9db";
}
.pack-plug:before {
  content: "\e9dc";
}
.pack-plus:before {
  content: "\e9dd";
}
.pack-plus-circle:before {
  content: "\e9de";
}
.pack-plus-square:before {
  content: "\e9df";
}
.pack-pocket:before {
  content: "\e9e0";
}
.pack-power:before {
  content: "\e9e1";
}
.pack-printer:before {
  content: "\e9e2";
}
.pack-radio:before {
  content: "\e9e3";
}
.pack-refresh-ccw:before {
  content: "\e9e4";
}
.pack-refresh-cw:before {
  content: "\e9e5";
}
.pack-repeat:before {
  content: "\e9e6";
}
.pack-rewind:before {
  content: "\e9e7";
}
.pack-rotate-ccw:before {
  content: "\e9e8";
}
.pack-rotate-cw:before {
  content: "\e9e9";
}
.pack-rss:before {
  content: "\e9ea";
}
.pack-save:before {
  content: "\e9eb";
}
.pack-scissors:before {
  content: "\e9ec";
}
.pack-search:before {
  content: "\e9ed";
}
.pack-send:before {
  content: "\e9ee";
}
.pack-server:before {
  content: "\e9ef";
}
.pack-settings:before {
  content: "\e9f0";
}
.pack-share:before {
  content: "\e9f1";
}
.pack-share-2:before {
  content: "\e9f2";
}
.pack-shield:before {
  content: "\e9f3";
}
.pack-shield-off:before {
  content: "\e9f4";
}
.pack-shopping-bag:before {
  content: "\e9f5";
}
.pack-shopping-cart:before {
  content: "\e9f6";
}
.pack-shuffle:before {
  content: "\e9f7";
}
.pack-sidebar:before {
  content: "\e9f8";
}
.pack-skip-back:before {
  content: "\e9f9";
}
.pack-skip-forward:before {
  content: "\e9fa";
}
.pack-slack:before {
  content: "\e9fb";
}
.pack-slash:before {
  content: "\e9fc";
}
.pack-sliders:before {
  content: "\e9fd";
}
.pack-smartphone:before {
  content: "\e9fe";
}
.pack-speaker:before {
  content: "\e9ff";
}
.pack-square-checkbox-solid .path1:before {
  content: "\ea00";
  color: rgb(0, 0, 0);
}
.pack-square-checkbox-solid .path2:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pack-square:before {
  content: "\ea02";
}
.pack-star:before {
  content: "\ea03";
}
.pack-stop-circle:before {
  content: "\ea04";
}
.pack-sun:before {
  content: "\ea05";
}
.pack-sunrise:before {
  content: "\ea06";
}
.pack-sunset:before {
  content: "\ea07";
}
.pack-tablet:before {
  content: "\ea08";
}
.pack-tag:before {
  content: "\ea09";
}
.pack-target:before {
  content: "\ea0a";
}
.pack-terminal:before {
  content: "\ea0b";
}
.pack-thermometer:before {
  content: "\ea0c";
}
.pack-thumbs-down:before {
  content: "\ea0d";
}
.pack-thumbs-up:before {
  content: "\ea0e";
}
.pack-toggle-left:before {
  content: "\ea0f";
}
.pack-toggle-right:before {
  content: "\ea10";
}
.pack-trash:before {
  content: "\ea11";
}
.pack-trash-2:before {
  content: "\ea12";
}
.pack-trending-down:before {
  content: "\ea13";
}
.pack-trending-up:before {
  content: "\ea14";
}
.pack-triangle:before {
  content: "\ea15";
}
.pack-truck:before {
  content: "\ea16";
}
.pack-tv:before {
  content: "\ea17";
}
.pack-twitter:before {
  content: "\ea18";
}
