.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    background-color: $tooltip-color;
    font-size: 0.875rem;
    color: $color-white;
    padding: 1.25rem;
    border-radius: $input-radius;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0) translateY(calc(100% + 20px));
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: all $transition ease;

    &::after {
      content: " ";
      position: absolute;
      top: -4px;
      right: 50%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $tooltip-color transparent;
    }
  }

  &:hover {
    .tooltiptext {
      opacity: 1;
      transform: translateX(0) translateY(calc(100% + 10px));
    }
  }

  @media screen and (max-width: 991px) {
    .tooltiptext {
      display: none;
    }
  }
}

.tolltip-basic {
  color: $color-white !important;
  background-color: $tooltip-color!important;
  border-radius: $input-radius !important;

  &.place-top {
    &:after {
      border-top-color: $tooltip-color !important;
      border-top-style: solid !important;
      border-top-width: 5px !important;
      transform: translateY(-1px);
    }
  }
  &.place-bottom {
    &:after {
      margin-bottom: -5px;
      border-bottom-color: $tooltip-color !important;
      border-bottom-style: solid !important;
      border-bottom-width: 5px !important;
      transform: translateY(1px);
    }
  }
}
