.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    background-color: $tooltip-color;
    font-size: 0.875rem;
    color: $color-white;
    padding: 1.25rem;
    border-radius: $input-radius;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0) translateY(calc(100% + 20px));
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: all $transition ease;

    &::after {
      content: " ";
      position: absolute;
      top: -4px;
      right: 50%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $tooltip-color transparent;
    }
  }

  &:hover {
    .tooltiptext {
      opacity: 1;
      transform: translateX(0) translateY(calc(100% + 10px));
    }
  }

  @media screen and (max-width: $md) {
    .tooltiptext {
      display: none;
    }
  }
}

.tolltip-basic {
  color: $color-white !important;
  background-color: $tooltip-color !important;
  border-radius: $input-radius !important;

  &.tw-200 {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.place-left {
    &:after {
      border-left-color: $tooltip-color !important;
      border-left-style: solid !important;
      border-left-width: 5px !important;
      transform: translateX(-2px);
    }
  }

  &.place-right {
    &:after {
      border-right-color: $tooltip-color !important;
      border-right-style: solid !important;
      border-right-width: 5px !important;
      transform: translateX(2px);
    }
  }

  &.place-top {
    &:after {
      border-top-color: $tooltip-color !important;
      border-top-style: solid !important;
      border-top-width: 5px !important;
      transform: translateY(-1px);
    }
  }
  &.place-bottom {
    &:after {
      margin-bottom: -5px;
      border-bottom-color: $tooltip-color !important;
      border-bottom-style: solid !important;
      border-bottom-width: 5px !important;
      transform: translateY(2px);
    }
  }
}

.cta-special-tooltip {
  position: absolute;
  pointer-events: none;
  line-height: 140%;
  opacity: 0;
  color: $color-dark-gray;
  font-size: 0.8125rem;
  letter-spacing: 0.2px;
  transition: opacity $transition ease;

  &.active {
    opacity: 1;
  }

  i {
    position: absolute;
    font-size: 1rem;
  }

  &.left {
    max-width: 160px;
    text-align: right;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-135%);

    i {
      top: -14px;
      right: -30px;
    }
  }

  &.active {
    &.top {
      max-height: 50px;
    }
  }

  &.top {
    position: relative;
    text-align: left;
    max-height: 0;
    top: -10px;
    width: 100%;
    max-width: 100%;
    line-height: 2rem;
    padding-left: 20px;

    i {
      font-size: 1.2rem;
      top: -0px;
      left: 0;
    }
  }

  &.top-header {
    width: 180px;
    right: 70px;
    bottom: -80px;
    text-align: left;

    i {
      font-size: 1.2rem;
      top: -14px;
      right: 0;
    }
  }

  &.top-preview {
    width: 140px;
    left: 50px;
    bottom: -60px;
    text-align: left;
    white-space: initial;

    i {
      font-size: 1.3rem;
      top: -14px;
      left: -20px;
    }
  }

  &.bottom-trigger {
    width: 220px;
    text-align: right;
    left: 0;
    bottom: 20px;
    transform: translateX(-120%);

    i {
      top: -14px;
      right: -30px;
    }
  }

  &.middle-trigger {
    width: 120px;
    text-align: right;
    left: 0;
    bottom: 20px;
    transform: translateX(-100%);

    i {
      top: -14px;
      right: -30px;
    }
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}
