.cta-builder {
  background-color: $color-light;
  font-size: $font-size;
  font-family: $font-family;
  color: $color-dark;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: $margin;
  }

  .cta-builder-generator-content {
    padding: $spacer $spacer;
  }

  .cta-builder-generator-group {
    padding: $spacer $spacer;
    border-bottom: 1px solid $color-gray;
  }

  label {
    font-weight: 600;
    color: $color-dark-gray;
    display: block;
    line-height: 1.85em;
    white-space: nowrap;
    transition: color $transition ease;

    &.active{
      color: $color-dark;
    }
  }

  ::placeholder {
    font-size: 1rem;
    font-family: $font-family;
    color: $color-light-gray;
  }

  .mr-2 {
    margin-right: 2rem !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .w-50 {
    width: 50%;
  }
  .w-100 {
    width: 100%;
  }

  .cta-group-title {

    h2{
      padding: 0 $spacer;
    }
    
  }

  .cta-shadow-list {
    width: 80px;
    height: 60px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-left: -24px;

    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 8px;
      top: 15px;
      display: block;
      right: 7px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAYAAABvEu28AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJtJREFUeNpiYIABaQ9BBnIAVB8jlFEAxJxAfITh6Y5NJBjiByRtgPg7E5AQghrCABaU9ggj0pAwqCEgwMnM8PnOewY+FZCrpKCCUmD+5ztXCRhigiRyhhlMgTQRaxgWQ4DBsYoZziXGMByGgBjMKLbhMwyPIZBYIy4M3gOxIC5DMF2E22Wc+AzBbRB2w3Aagt8gTMNwGkJVABBgADjERhQeOs7vAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: right 0 top 0;
      transform-origin: center center;
      transition: transform $transition ease;
      z-index: 2;
    }

    .cta-shadow-list-dropdown {
      position: absolute;
      padding-top: 5px;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 60px;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      z-index: 1;
      transition: max-height $transition ease;
      border-bottom-left-radius: $input-radius;
      border-bottom-right-radius: $input-radius;

      .no-shadow {
        position: relative;
        &::after{
          content: '';
          width: 100%;
          height: 4px;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          background-color: $color-danger;
          display: block;
          position: absolute;
        }
      }

      > div {
        margin-left: 22px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border: 1px solid rgba($color-dark, 0.1);
        border-radius: 50%;
        margin-bottom: 40px;
        transition: background-color $transition ease;

        &:hover {
          background-color: rgba($color-dark, 0.05);
        }

        &:nth-child(1){order: 2;}
        &:nth-child(2){order: 3;}
        &:nth-child(3){order: 4;}
        &:nth-child(4){order: 5;}
        &:nth-child(5){order: 6;}
        &:nth-child(6){order: 7;}
        &:nth-child(7){order: 8;}
        &:nth-child(8){order: 9;}

        &.active {
          order: 1;
        }
      }
    }
    &.active{
      &::before{
        transform: rotate(180deg);
      }
      .cta-shadow-list-dropdown {
        max-height: 500px;
        box-shadow: 0px 16px 64px rgba(0,0,0,0.08);
      }
    }
  }

  .cta-view {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: calc(100% - #{$nav-height});
    overflow: hidden;

    @media screen and (max-width: $mobile) {
      height: calc(100% - #{$nav-height-mobile});
    }
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  .cta-inline {
    display: flex;
    justify-content: space-between;

    &.for-icon-input {
      > div {
        width: calc((100% - 50px) - #{$spacer}/ 2);

        &:first-child {
          width: 50px;
        }
      }
    }

    > div {
      width: calc(50% - #{$spacer}/ 2);
    }
  }

  .cta-info {
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    color: $color-dark-gray;
    margin-bottom: $margin;
    line-height: 140%;

    i{
      margin-right: 1rem;
      font-size: 1rem;
      line-height: 140%;
    }
  }

  .text-default {
    color: $color-dark;
    font-weight: 400;
  }
}

.pcr-app {
  overflow: hidden;
}
