.cta-builder {
  background-color: $color-light;
  font-size: $font-size;
  font-family: $font-family;
  color: $color-dark;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 1.8em;
  }

  .cta-builder-generator-content {
    padding: $spacer $spacer;
  }

  .cta-builder-generator-group {
    padding: $spacer $spacer;
    border-bottom: 1px solid $color-gray;
  }

  label {
    font-weight: 600;
    color: $color-dark-gray;
    display: block;
    line-height: 1.85em;
    transition: color $transition ease;

    &.active{
      color: $color-dark;
    }
  }

  input,
  textarea,
  select {
    width: 100%;
    border: 1px solid $color-light-gray;
    box-sizing: border-box;
    border-radius: $input-radius;
    line-height: calc(#{$input-lineheight} - 2px);
    padding: 0 0.6em;
    outline: none;
    margin-bottom: 1.8em;
    font-family: $font-family;
    color: $color-dark;
    font-size: 0.875rem;

    &.w-50 {
      width: calc(50% - #{$spacer}/ 2);
    }
  }

  textarea{
    line-height: normal;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    resize: none;
  }

  select {
    font-size: 1em;
    padding-top: ($input-lineheight - 1rem)/2;
    padding-bottom: ($input-lineheight - 1rem)/2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1em;
    position: relative;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAYAAABvEu28AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJtJREFUeNpiYIABaQ9BBnIAVB8jlFEAxJxAfITh6Y5NJBjiByRtgPg7E5AQghrCABaU9ggj0pAwqCEgwMnM8PnOewY+FZCrpKCCUmD+5ztXCRhigiRyhhlMgTQRaxgWQ4DBsYoZziXGMByGgBjMKLbhMwyPIZBYIy4M3gOxIC5DMF2E22Wc+AzBbRB2w3Aagt8gTMNwGkJVABBgADjERhQeOs7vAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px top 12px;

    &.dark {
      background-color: $color-lgray;
      border-color: $color-lgray;
    }
  }

  ::placeholder {
    font-size: 1rem;
    font-family: $font-family;
    color: $color-light-gray;
  }

  .mr-2 {
    margin-right: 2rem !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .w-50 {
    width: 50%;
  }
  .w-100 {
    width: 100%;
  }

  .cta-view {
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;
    height: calc(100% - $nav-height);
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  .cta-builder-inline {
    display: flex;
    justify-content: space-between;

    > div {
      width: calc(50% - #{$spacer}/ 2);
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .cta-builder-color-input {
    position: relative;
    margin-bottom: 1.8em;

    input {
      padding-left: 34px;
      margin-bottom: 0;
    }

    .pickr {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      left: 10px;
      margin: auto;

      button {
        width: 16px;
        height: 16px;
        outline: none;
        box-shadow: none;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 0px 1px $color-extra-light;
        -moz-box-shadow: 0px 0px 0px 1px $color-extra-light;
        box-shadow: 0px 0px 0px 1px $color-extra-light;

        &::after,
        &::before {
          border-radius: 50%;
          outline: none;
          box-shadow: none;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .pcr-button {
        background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="red" stroke-width="8px" stroke-linecap="round"><path d="M45,5L5,45"></path></svg>');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        background-color: $color-white;

        &.clear {
          color: rgba(#fff, 0) !important;
        }
      }
    }
  }

  .cta-builder-or {
    text-align: center;
    width: 100%;
    position: relative;
    margin: $spacer/2 0;

    span {
      position: relative;
      z-index: 1;
      display: inline-block;
      background-color: $color-white;
      padding: 10px 20px;
    }

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-light;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .cta-builder-size-input {
    position: relative;
    margin-bottom: 1.8em;

    &.w-50 {
      width: calc(50% - #{$spacer}/ 2);
    }

    input {
      padding-right: 34px;
      margin-bottom: 0;
    }

    &:after {
      content: "px";
      display: block;
      position: absolute;
      top: 0;
      right: 14px;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .cta-builder-number {
    border-radius: $input-radius;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.8em;

    .cta-builder-number-decrease, .cta-builder-number-increase {
      background-color: $color-lgray;
      position: absolute;
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      font-size: 1.4em;
      font-weight: 500;
      transition: background-color $transition ease;

      &:hover{
        background-color: $color-gray;
      }
    }

    &.w-25 {
      width: calc(25% - #{$spacer}/ 2);
      min-width: 100px;
    }

    .cta-builder-number-decrease {
      left: 0;
      top: 0;
    }

    .cta-builder-number-increase {
      right: 0;
      top: 0;
    }

    input{
      text-align: center;
      margin-bottom: 0;
      font-weight: 600;
    }

  }

  .cta-shadow-list {
    width: 80px;
    height: 60px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-left: -24px;

    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 15px;
      display: block;
      right: 7px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAYAAABvEu28AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJtJREFUeNpiYIABaQ9BBnIAVB8jlFEAxJxAfITh6Y5NJBjiByRtgPg7E5AQghrCABaU9ggj0pAwqCEgwMnM8PnOewY+FZCrpKCCUmD+5ztXCRhigiRyhhlMgTQRaxgWQ4DBsYoZziXGMByGgBjMKLbhMwyPIZBYIy4M3gOxIC5DMF2E22Wc+AzBbRB2w3Aagt8gTMNwGkJVABBgADjERhQeOs7vAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: right 0 top 0;
      z-index: 2;
    }

    .cta-shadow-list-dropdown {
      position: absolute;
      padding-top: 5px;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 60px;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      z-index: 1;
      transition: max-height $transition ease;
      border-bottom-left-radius: $input-radius;
      border-bottom-right-radius: $input-radius;

      .no-shadow {
        position: relative;
        &::after{
          content: '';
          width: 100%;
          height: 4px;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          background-color: $color-danger;
          display: block;
          position: absolute;
        }
      }

      > div {
        margin-left: 22px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border: 1px solid rgba($color-dark, 0.1);
        border-radius: 50%;
        margin-bottom: 40px;
        transition: background-color $transition ease;

        &:hover {
          background-color: rgba($color-dark, 0.05);
        }

        &:nth-child(1){order: 2;}
        &:nth-child(2){order: 3;}
        &:nth-child(3){order: 4;}
        &:nth-child(4){order: 5;}
        &:nth-child(5){order: 6;}
        &:nth-child(6){order: 7;}
        &:nth-child(7){order: 8;}
        &:nth-child(8){order: 9;}

        &.active {
          order: 1;
        }
      }
    }
    &.active{
      .cta-shadow-list-dropdown {
        max-height: 500px;
        box-shadow: 0px 16px 64px rgba(0,0,0,0.08);
      }
    }
  }

  @media screen and (max-width: 991px) {
    
    label {
      font-size: 0.875em;
      line-height: 1.85em;
    }

    .cta-builder-generator-group{
      padding-top: 1.8em;
      padding-bottom: 1.8em;
    }
  }
}
